*-orig.*
*.7z
*.bak
*.cache
*.dll
*.exe
*.exist
*.handover
*.log
*.log.full
*.msi
*.new
*.nupkg
*.old
*.orig
*.resharper
*.stackdump
*.suo
*.swo
*.swp
*.test
*.work
*.zip
*/working
*~
.DS_Store
.vscode
New Text Document*.txt
New folder*
Thumbs.db
_ReSharper*
automatic/_output/
ketarin/soluto.xml
obj