$ErrorActionPreference = 'Stop';
$toolsDir   = "$(Split-Path -parent $MyInvocation.MyCommand.Definition)"
$url        = '{{URL}}'

$packageArgs = @{
  packageName   = $env:ChocolateyPackageName
  unzipLocation = $toolsDir
  fileType      = '{{FILETYPE}}'
  url           = $url
  softwareName  = '{{ID}}*'
  checksum      = '{{SHA256}}'
  checksumType  = 'sha256'
  silentArgs   = ''
  validExitCodes= @(0)
}
Install-ChocolateyPackage @packageArgs
